{% extends "blogengine/includes/base.html" %}{% load staticfiles %}
    
    {% load custom_markdown %}
    
    {% block content %}
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        
        <form action="/story/new/" method="post">{% csrf_token %}
            {{ form.as_p|safe }}
            <button class="btn waves-effect waves-light" type="submit" name="action">Sumit
            <i class="material-icons right">send</i>
            </button>
<!--            <input type="submit" value="Submit" /> -->
        </form>
    {% endblock %}
    
    